<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatPrivate</title>
    <script src="./node_modules/socket.io-client/dist/socket.io.js"></script>
   <link rel="stylesheet" href="./public/client.css">
  </head>
  <body>

<!-- 

    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form> -->

    <header>
      ChatPrivate
    </header>


    <main>



    </main>

    <footer>
      <form action="">
        <input type="text" id="m" autocomplete="off"> <button id="snd"><img src="./public/images/iconsubmit.png" ></button>
      </form>
    </footer>

<script src="./node_modules/jquery/dist/jquery.min.js"></script>

<script>

  var socket = io();
  var user, room;
 $(document).ready(()=>{

   socket.on('cred',(msg)=>{
     
 let user = msg.username;
 let room = msg.roomNO;
        

 socket.emit('join',{user, room});
     
socket.on('error',(er)=>{
  alert(er);
})
 

socket.on('message',(message)=>{
      
    
     $("main").append(`<div class="messages"> ${message}</div> `);
   

})


socket.on('roomData',(room, users)=>{
  console.log(room);
  console.log('user are '+ users);
});


$("form").submit((e)=>{
  e.preventDefault();

  socket.emit('sendMessage',($("#m").val()));
  $('#m').val('');

  return false;

})

socket.on('messenger',  (mesngr)=>{

     
  console.log(mesngr);
  
  $("main").append(`<div class="sender"><div class="inside"><div id="userName" >${mesngr.user}</div>${mesngr.message}</div></div>`);


})



   });





 });
  




 
</script>
  </body>
</html>