<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatPrivate</title>
    <script src="./node_modules/socket.io-client/dist/socket.io.js"></script>
   <link rel="stylesheet" href="./public/client.css">
  </head>
  <body>

<!-- 

    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form> -->

    <header>
      ChatPrivate
    </header>


    <main>



    </main>

    <footer>
      <form >
        <input type="text" id="m" autocomplete="off"> <button id="snd"><img src="./public/images/iconsubmit.png" ></button>
      </form>
    </footer>

<script src="./node_modules/jquery/dist/jquery.min.js"></script>

<script>

  var socket = io();
  var user, room;
 $(document).ready(()=>{

    socket.on('taken',(msg)=>{


     alert("Username and room already taken");
     window.location.replace('/');


    })

    socket.on('nouser',(msg)=>{

      alert("Username and room cannot be empty");
      window.location.replace('/');

    })



   socket.on('cred',(msg)=>{
     
 let user = msg.name;
 let room = msg.room;
 let id  = msg.id;




 $("main").append(`<div class="messages"> ${user} has joined </div> `);
 
   });


   $("form").submit((e)=>{
    e.preventDefault();
  
    socket.emit('sendMessage',{id: socket.id, message: $("#m").val()});
    $('#m').val('');
  
    return false;
  
  });



socket.on('message',(message)=>{
      
    
  $("main").append(`<div class="messages"> ${message}</div> `);


})


socket.on('roomData',(room, users)=>{
console.log(room);
console.log('user are '+ users);
});

socket.on('incoming',  ({user, message})=>{

     
  
  $("main").append(`<div class="sender"><div class="inside"><div id="userName" >${user}</div>${message}</div></div>`);


})
socket.on('outgoing',({user, message})=>{


  
  $("main").append(`<div class="receiver"><div class="inside"><div id="userName" >${user}</div>${message}</div></div>`);

})

socket.on('connectionErr',(mgs)=>{
  alert(mgs);
  window.location.replace('/');
})






 });
  





 
</script>
  </body>
</html>