<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHat and fun</title>
    <link rel="stylesheet" href="./public/client1.css">

</head>
<body>


  <div class="logo" style="background-color: rgba(255, 255, 255, 0.486);">
  </div>
    <div class="heads">
        LOGIN
    </div>


    <form  action="/main"  id="form-data" method="POST">
     <input type="text" placeholder="User name" name="username" id="un"> <br>
     <input type="password" placeholder="Password" name="password" id="pd"> <br>
     <input type="text" placeholder="Room no" name="roomNO" id="pd1"> <br>
     <input type="submit" value="Login" id="sub">

    </form>
 
   <script src="../node_modules/jquery/dist/jquery.min.js"></script>
 
    <script>
         
      
     
  
  
    </script>

</body>
</html>